APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:vbClBEoKHbLMeyWmdk/X6FLT8iIU9ZafLA38d1l6wMQ=
APP_DEBUG=true
APP_URL=http://server.test

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

JWT_SECRET=
JWT_ALGO=HS256

NEW_YORK_TIMES_IO_API_KEY=
THE_GUARDIAN_IO_API_KEY=
NEWSDATA_IO_API_KEY=